<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script src="/public/js/main.js"></script>
        <title>Notifications</title>
    </head>
    <body>
        <a class="btn" id="logout" href="/">Logout</a>
        <div id="main-container">
            <h2>Notifications Board</h2>
            <div id="notification-cont">
            </div>
            <a class="btn" id="notify">Notify</a>
        </div>
    </body>
</html>